.header {
  max-width: stretch;
  margin: auto;
  padding: 2rem;
  justify-content: space-between;
  background-color: #171544;
}

.list {
  display: flex;
  gap: 1rem;
}

.list a {
  text-decoration: none;
  color: white;
}

button:hover,
button.active {
  background-color: #37bb7d;
}

button {
  background-color: #1bb76e;
  border-radius: 5px;
  padding: 0.7rem 1.7rem;
  border: none;
}

.name {
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
  margin-right: 2rem;
  margin-left: 0;
}

.login {
  background-color: #6432f9;
}
