.App {
  text-align: center;
}

body {
  background-color: #7b61ff;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.home-container {
}
nav {
  display: contents;
}

/* Header */
.home-header {
  margin: auto;
  padding: 2rem;
  justify-content: space-between;
  background-color: #171544;
  background-size: 100%;
  position: sticky;
  z-index: 1;
  overflow: hidden;
  display: flex;
}
.left-header {
  display: flex;
  float: left;
}
.right-header {
  display: flex;
  float: right;
}
/*
.list {
  list-style-type: none;
  display: flex;
  align-content: r;
  gap: 3rem;
  overflow: hidden;
}
*/

a {
  text-decoration: none;
  color: white;
}

button b {
  font-size: 1.2rem;
}

b.gotcode {
  font-size: 1.5rem;
}

b.name {
  font-size: 3.5rem;
}

button:hover,
button.active {
}

button {
  border-radius: 5px;
  border: none;
}

.signup {
  background-color: #7b61ff;
  color: white;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
}

.login {
  background-color: transparent;
  color: white;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
}

.new-imagelink {
  background-color: #1bb76e;
  color: white;
  padding: 1rem 1rem;
  margin-left: 5%;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
}

/* Header End */

/* CodeInput */
.CodeInputContainer {
  display: flex;
  align-items: center;
}
.CodeInput {
  display: inline-block;
  background: hsla(0, 0%, 100%, 0.25);
  border: 1px solid transparent;
  padding: 8px 35px 8px 10px;
  border-radius: 3px 0 0 3px;
  width: 100%;
  outline: 0 none;
  opacity: 0.8;
  min-height: 36px;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.4px;
  color: #fff;
  text-shadow: inherit;
  -webkit-text-fill-color: inherit;
  flex: 1;
  margin-left: 10px;
}

.CodeInputForm {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin-left: 220px;
  margin-right: 220px;
}

.CodeInputForm b {
  color: white;
}

.CodeInputButtonImage {
  display: inline-block;
  background: transparent;
  margin: auto;
  cursor: pointer;
}

.CodeInputForm button {
  display: inline-block;
  background: transparent;
  color: #fff;
  opacity: 0.8;
  right: 0;
  top: 0;
  bottom: 0;
  border: 0;
  outline: 0;
  cursor: pointer;
  background: hsla(0, 0%, 100%, 0.25);
  border: 1px solid transparent;
  border-radius: 0 3px 3px 0;
  height: 54.5px;
}
/* CodeInput  End*/

.home-content {
  background-color: #2e3035;
}

.home-welcome {
  color: white;
  font-size: 5rem;
  font-family: "Exo", sans-serif;
  font-family: "Roboto Mono", monospace;
  padding: 0;
  margin: 0;
}

.home-small-text {
  color: white;
  font-size: 1.5rem;
  font-family: "Exo", sans-serif;
  font-family: "Roboto Mono", monospace;
  padding: 0;
  margin: 0;
}

.home-capture {
  color: rgb(255 255 255 / var(--tw-text-opacity));
  display: flex;
  font-size: 7rem;
  font-family: "Exo", sans-serif;
  font-family: "Roboto Mono", monospace;
  padding: 0;
  margin: 0;
  line-height: 1;
  text-shadow: black 0.1em 0.1em 0.8em;
}

/*
video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
  transition: 1s opacity;
}
*/

video {
  margin-top: 5%;
}

.word-moment {
  color: #7b61ff;
}

.home-upload {
  font-size: 5em;
  font-family: "Exo", sans-serif;
  font-family: "Roboto Mono", monospace;
  padding: 0;
  margin: 0;
}
