.App {
  text-align: center;
}

body {
  background-image: linear-gradient(180deg, #171544, #061234);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.home-container {
}
nav {
  display: contents;
}

/* Header */
.home-header {
  margin: auto;
  padding: 1.2rem;
  justify-content: space-between;
  background-color: #171544;
  background-size: 100%;
  position: sticky;
  z-index: 1;
  overflow: hidden;
  display: flex;
  height: 40px;
}
.left-header {
  display: flex;
  float: left;
}
.right-header {
  display: flex;
  float: right;
}

a {
  text-decoration: none;
  color: white;
}

button b {
  font-size: 15px;
}

b.gotcode {
  font-size: 1.2rem;
}

b.name {
  font-size: 2rem;
}

button:hover,
button.active {
}

button {
  border-radius: 5px;
  border: none;
}

.signup {
  background-color: #7b61ff;
  color: white;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
}

.login {
  background-color: transparent;
  color: white;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
}

.new-imagelink {
  background-color: #1bb76e;
  color: white;
  margin-left: 5%;
  font-size: 0.5rem;
  font-weight: 600;
  cursor: pointer;
  width: auto;
}

/* Header End */

/* CodeInput */
.CodeInputContainer {
  display: flex;
  align-items: center;
}
.CodeInput {
  display: inline-block;
  background: hsla(0, 0%, 100%, 0.25);
  border: 1px solid transparent;
  padding: 8px 35px 8px 10px;
  border-radius: 3px 0 0 3px;
  width: 100%;
  outline: 0 none;
  opacity: 0.8;
  min-height: 36px;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.4px;
  color: #fff;
  text-shadow: inherit;
  -webkit-text-fill-color: inherit;
  flex: 1;
  margin-left: 10px;
}

.CodeInputForm {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.CodeInputForm b {
  color: white;
}

.CodeInputButtonImage {
  display: inline-block;
  background: transparent;
  margin: auto;
  cursor: pointer;
}

.CodeInputForm button {
  display: inline-block;
  background: transparent;
  color: #fff;
  opacity: 0.8;
  right: 0;
  top: 0;
  bottom: 0;
  border: 0;
  outline: 0;
  cursor: pointer;
  background: hsla(0, 0%, 100%, 0.25);
  border: 1px solid transparent;
  border-radius: 0 3px 3px 0;
  height: 54.5px;
}

/* Mobile styles for screens with width less than or equal to 768px */
@media (max-width: 768px) {
  .home-header {
    /* Mobile-friendly styles for the header */
    flex-direction: column;
    align-items: center;
    padding-bottom: 200px; /* Adjust padding as needed */
  }

  .left-header,
  .right-header {
    display: flex;
    flex-direction: row; /* Display elements in a row */
    align-items: center;
    margin-bottom: 10px;
  }

  .new-imagelink,
  .login,
  .signup {
    margin: 5px;
    white-space: nowrap; /* Prevent buttons from wrapping to the next line */
  }

  /* Ensure buttons are not wider than their parent container */
  .left-header,
  .right-header {
    width: 100%; /* Ensure the container takes up the full width */
    justify-content: space-between; /* Space buttons evenly in the container */
  }

  /* Reorder elements for mobile view */
  .name {
    order: 1; /* ImageLink logo on top */
    margin-bottom: 10px; /* Add some spacing below the logo */
  }

  .left-header {
    order: 2; /* Buttons in the same row with ImageLink logo */
  }

  .right-header {
    order: 3; /* Buttons in the same row with ImageLink logo */
  }

  .CodeInputContainer {
    order: 4; /* "Got a code?" input on bottom */
  }

  /* Add some spacing between the buttons */
  .right-header button {
    margin: 0 5px;
  }

  .left-header button {
    height: 87%;
  }
}

/* CodeInput  End*/

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 5%;
  margin-right: 5%;
  background-color: #171544;
  border-radius: 2rem;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  border: solid;
  border-color: black;
  border-width: 0.2rem;
  background-image: url("./components/assets/star-cluster-purple.png");
  background-repeat: no-repeat;
  background-size: cover;
  /* Add the parallax effect */
  background-attachment: fixed;
}

/* Logo */
.logo {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #1bb76e;
}

/* Welcome text */
.welcome-text {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 2rem;
  color: white;
}

/* Buttons */
.home-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.home-button {
  background-color: #1bb76e;
  color: white;
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  font-weight: 600;
  margin: 0.5rem;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.home-button:hover {
  background-color: #149f58;
}

/* Features */
.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.feature {
  width: 300px;
  background-color: #1a1a3b;
  color: white;
  padding: 2rem;
  margin: 1rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feature-icon {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.feature-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.feature-description {
  text-align: center;
}

/* Footer */
.home-footer {
  text-align: center;
  font-size: 0.9rem;
  color: #ccc;
  margin-top: 2rem;
}

.home-footer a {
  color: #ccc;
  text-decoration: none;
}

.home-footer a:hover {
  color: white;
}

.how-to-use-section {
  color: white;
  padding: 3rem 0;
}

.how-to-use-card {
  background-color: #1a1a3b;
  border-radius: 10px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-image: url("./components/assets/star-cluster-purple.png");
  background-repeat: no-repeat;
  background-size: cover;
  /* Add the parallax effect */
  background-attachment: fixed;
}

.how-to-use-content h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  text-align: center;
  color: #1bb76e;
}

.how-to-use-content ol {
  font-size: 1.2rem;
  list-style: none;
  padding: 0;
}

.how-to-use-content li {
  margin-bottom: 1rem;
  padding-left: 1rem;
}

.how-to-use-content li::before {
  content: "➤";
  color: #1bb76e;
  font-weight: bold;
  display: inline-block;
  width: 1rem;
  margin-left: -1rem;
}

/*
video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
  transition: 1s opacity;
}
*/

video {
  margin-top: 5%;
}

.word-moment {
  color: #7b61ff;
}
.word-moment-bl {
  color: #7b61ff;
}

.home-upload {
  font-size: 5em;
  font-family: "Exo", sans-serif;
  font-family: "Roboto Mono", monospace;
  padding: 0;
  margin: 0;
}

.card-capture {
  background-image: url("./components/assets/star-cluster-purple.png");
  background-repeat: no-repeat;
  background-size: cover;
}

/* Register page */
.register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 5%;
  margin-right: 5%;
  background-color: #171544;
  border-radius: 2rem;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  border: solid;
  border-color: black;
  border-width: 0.2rem;
  background-image: url("./components/assets/card-mist-glow.6139fbd9.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.heading {
  text-align: center;
  margin-bottom: 20px;
}

.heading h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.heading p {
  font-size: 1.2rem;
  color: #888;
}

.form {
  width: 70%;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 20px;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  font-family: inherit;
  font-size: 1rem;
}

.name-label,
.register-email-label,
.register-password-label,
.register-password2-label {
  text-align: left;
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #1b5e8d; /* Match the color of the logo */
}

.form-group button {
  width: 100%;
  padding: 10px;
  background-color: #7b61ff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-family: inherit;
  font-size: 1rem;
  cursor: pointer;
}

.form-group button:hover {
  background-color: #149f58;
}

.register-header {
  color: #1a5f91; /* Match the color of the logo */
}
/* Register page End */

/* Login page */
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 5%;
  margin-right: 5%;
  background-color: #171544;
  border-radius: 2rem;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  border: solid;
  border-color: black;
  border-width: 0.2rem;
  background-image: url("./components/assets/card-red-glow.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.login-header {
  color: white; /* Match the color of the logo */
}

.email-label,
.password-label {
  text-align: left;
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: white;
}

/* Login page End */

.btn-block {
  width: 100%;
  margin-bottom: 20px;
}

.btn {
  padding: 10px 20px;
  border: 1px solid #000;
  border-radius: 5px;
  background: #000;
  color: #fff;

  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn svg {
  margin-right: 8px;
}

.btn-reverse {
  background: #fff;
  color: #000;
}

/* motion */

ul {
  display: flex;
  list-style: none;
  overflow-x: scroll;
  padding: 20px 0;
  flex: 0 0 600px;
  margin: 0 auto;
  /*
  background-color: #061234;
  */
}

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  background: rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-thumb {
  background: var(--accent);
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-corner {
  background: #fff3;
}

.round-imagelink {
  flex: 0 0 200px;
  background: var(--accent);
  background-color: white;
  background: transparent;
  margin: 0 20px 0 20px;
  border-radius: 2rem;
}

.button-imagelink {
  background: transparent;
}

.folder-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background: transparent;
  background-color: white;
  border-radius: 2rem;
}

.folder-name {
  font-size: 1.5rem;
  font-family: "Exo", sans-serif;
  font-family: "Roboto Mono", monospace;
  padding: 0;
  margin: 0;
  text-align: center;
  color: white;
}

.imagelink-title {
  color: linear-gradient(180deg, #2f64fe, white);
  color: white;
}

.imagelink-sub-title {
  float: left;
  margin-left: 5%;
  font-size: 1.5rem;
  font-family: "Exo", sans-serif;
  font-family: "Roboto Mono", monospace;
  color: #bd26fe;
}

.imagelink-collection {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  margin-right: 5%;
  font-size: 1.5rem;
  font-family: "Exo", sans-serif;
  font-family: "Roboto Mono", monospace;
  color: #bd26fe;
}

.imagelink-collection-name {
  display: flex;
  margin-left: 5%;
  font-size: 1.5rem;
  font-family: "Exo", sans-serif;
  font-family: "Roboto Mono", monospace;
  color: #bd26fe;
}

.button-delete-collection {
  color: linear-gradient(180deg, #2f64fe, white);
  border: none;
  color: #bd26fe;
  font-size: 1.5rem;
  font-family: "Exo", sans-serif;
  font-family: "Roboto Mono", monospace;
}
.button-delete-image {
  margin-top: 8%;
  color: linear-gradient(180deg, #2f64fe, white);
  border: none;
  color: #bd26fe;
  font-size: 1.5rem;
  font-family: "Exo", sans-serif;
  font-family: "Roboto Mono", monospace;
}

.button-download-images {
  margin-top: 8%;
  color: linear-gradient(180deg, #2f64fe, white);
  border: none;
  color: #bd26fe;
  font-size: 1.5rem;
  font-family: "Exo", sans-serif;
  font-family: "Roboto Mono", monospace;
}

.button-share-collection {
  color: linear-gradient(180deg, #2f64fe, white);
  border: none;
  color: #bd26fe;
  font-size: 1.5rem;
  font-family: "Exo", sans-serif;
  font-family: "Roboto Mono", monospace;
}

.buttons-actions-collection {
  display: flex;
  justify-content: space-between;
  margin-left: 15%;
  margin-right: 15%;
}

.buttons-actions-image {
  display: flex;
  justify-content: space-between;
  margin-left: 25%;
  margin-right: 25%;
}

.imagelink-select-dropdown {
  width: 100%;
  padding: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: inherit;
}

.form-group-new {
  margin-bottom: 20px;
}

.form-group-new input,
.form-group-new textarea,
.form-group-new select {
  width: 100%;
  padding: 8x;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  font-family: inherit;
  font-size: 20px;
}
.form-group-new button {
  width: 100%;
  padding: 10px;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-family: inherit;
  font-size: 1rem;
  cursor: pointer;
}

.createNewCollection {
  background-color: #7b61ff;
}

.form-group-new button:hover {
  background-color: #2f64fe;
}

.cancel {
  background-color: red;
  margin-left: 10%;
}

.operation-btns {
  display: flex;
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 10%;
  padding: 5%;
}

.button-delete-upload {
  color: linear-gradient(180deg, #2f64fe, white);
  border: none;
  color: #bd26fe;
  font-size: 1.5rem;
  font-family: "Exo", sans-serif;
  font-family: "Roboto Mono", monospace;
  margin-left: 3%;
}

/* imagelink images page */
/* New CSS for ImageLinkImages component */
.image-link-images {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.image-link-title {
  font-size: 2rem;
  font-weight: bold;
  color: #bd26fe;
}

.imagelink-actions {
  display: flex;
  justify-content: center; /* Center the children horizontally */
  width: 100%;
  max-width: 600px;
  margin: 20px auto; /* Use auto for top and bottom margin to center the entire container */
}

.buttons-actions {
  display: flex;
}

.buttons-actions button {
  background-color: #bd26fe;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  margin-left: 10px;
  cursor: pointer;
}

.buttons-actions button:hover {
  background-color: #8d1eb7;
}

/*1337-----------------*/
.list {
  list-style-type: none;
  display: flex; /* Remove this line to avoid wrapping on smaller screens */
  align-content: r;
  gap: 3rem;
  overflow: hidden;
}

.imagelink-image:hover {
  transform: scale(1.05);
}

.imagelink-image.selected,
.imagelink-image.selected:focus {
  border: 10px solid blue !important;
}

.image-link-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 30px; /* Increase the value to add more spacing between images */
  width: 100%;
  max-width: 800px;
  margin-top: 30px;
}

.image-div {
  position: relative;
  overflow: hidden;
}

.imagelink-image {
  width: 100%;
  height: 200px; /* Set desired height for image thumbnails */
  object-fit: cover;
  background: transparent;
  border-radius: 5px;
  cursor: pointer;
}

/* Status messages */
.success-msg {
  color: #1bb76e;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.error-msg {
  color: #ff3e4e;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

/* Modal */
/* @src/components/Modal.module.css */

.darkBG {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100vw;
  height: 100vh;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal {
  width: 250px;
  height: 170px;
  background: white;
  color: white;
  z-index: 10;
  border-radius: 16px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
}

.modalHeader {
  height: 50px;
  background: white;
  overflow: hidden;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.heading {
  margin: 0;
  padding: 10px;
  color: #2c3e50;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
}

.modalContent {
  padding: 10px;
  font-size: 14px;
  color: #2c3e50;
  text-align: center;
}

.modalActions {
  position: absolute;
  bottom: 2px;
  margin-bottom: 10px;
  width: 100%;
}

.actionsContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.closeBtn {
  cursor: pointer;
  font-weight: 500;
  padding: 4px 8px;
  border-radius: 8px;
  border: none;
  font-size: 18px;
  color: #2c3e50;
  background: white;
  transition: all 0.25s ease;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.06);
  position: absolute;
  right: 0;
  top: 0;
  align-self: flex-end;
  margin-top: -7px;
  margin-right: -7px;
}

.closeBtn:hover {
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
  transform: translate(-4px, 4px);
}

.deleteBtn {
  margin-top: 10px;
  cursor: pointer;
  font-weight: 500;
  padding: 11px 28px;
  border-radius: 12px;
  font-size: 0.8rem;
  border: none;
  color: #fff;
  background: #7b61ff;
  transition: all 0.25s ease;
}

.deleteBtn:hover {
  box-shadow: 0 10px 20px -10px rgba(255, 62, 78, 0.6);
  transform: translateY(-5px);
  background: #1bb76e;
}

.cancelBtn {
  margin-top: 10px;
  cursor: pointer;
  font-weight: 500;
  padding: 11px 28px;
  border-radius: 12px;
  font-size: 0.8rem;
  border: none;
  color: #2c3e50;
  background: #fcfcfc;
  transition: all 0.25s ease;
}

.cancelBtn:hover {
  box-shadow: none;
  transform: none;
  background: whitesmoke;
}

/* Modal End */

/* Loading gif */
.loadingGifContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(61, 92, 100, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
  /* Add fixed width and height to the container */
  width: 100%;
  height: 100%;
}

.loadingGif {
  width: 100px; /* You can adjust the width as needed */
  height: 100px; /* You can adjust the height as needed */
}
